@font-face {
    font-family: 'boxicons';
    font-weight: normal;
    font-style: normal;
    src: url('../../assets/fonts/boxicons.eot');
    src: url('../../assets/fonts/boxicons.eot') format('embedded-opentype'), url('../../assets/fonts/boxicons.woff2') format('woff2'), url('../../assets/fonts/boxicons.woff') format('woff'), url('../../assets/fonts/boxicons.ttf') format('truetype'), url('../../assets/fonts/boxicons.svg?#boxicons') format('svg')
}

.dropdown {
    position: relative;
    z-index: 99;
}

.dropdown__toggle {
    border: 0;
    outline: 0;
    background-color: transparent;
    position: relative;
}

.dropdown__toggle > i {
    font-size: 2.5rem;
    color: var(--txt-color);
}

.dropdown__toggle-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -12px;
    right: -10px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: var(--main-color);
    color: var(--txt-white);
    font-size: 0.8rem;
}

.dropdown__content {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    width: max-content;
    max-width: 400px;
    background-color: vaR(--main-bg);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
    transform-origin: top right;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
}

.dropdown__content.active {
    transform: scale(1);
    transition: transform 0.5s var(--transition-cubic);
}

.dropdown__footer {
    padding: 20px;
    text-align: center;
}

.notification-item {
    display: flex;
    align-items: center;
    padding: 5px 8px 5px 8px;
    color: var(--txt-color);
    font-size: 1rem;
}

.notification-item:hover {
    background-color: var(--second-bg);
}

.notification-item > i {
    margin-right: 5px;
    font-size: 1rem;
}

.bx {
    font-family: 'boxicons' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    display: inline-block;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.bx-log-out-circle:before {
    content: "\eab2"
}

.bx-rotate-180 {
    transform: rotate(180deg);
    -ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(rotation=2)'
}
