$PRIMARY_COLOR: #FD7E14;

.search {
  background: #F7F7F7;
  border-radius: 20px;
  border: none;

  & .ant-input {
    background: #F7F7F7;
  }

  &:hover,
  &:focus
  &:active {
    border-width: 1px;
    border-color: $PRIMARY_COLOR;
    box-shadow: 0 0 0 2px rgba(253, 126, 20, 0.2)
  }
}

.img-tab {
  height: 21px;
  object-fit: contain;
}

.text-tab {
  font-weight: 500;
  font-size: 11px;
  line-height: 15px;
  margin-top: 4px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: $PRIMARY_COLOR;
}

.ant-tabs-ink-bar {
  background-color: $PRIMARY_COLOR;
}

.pane {
  .tag {
    padding: 6px 14px;
    border-radius: 31px;
    background: #F7F7F7;
    white-space: nowrap;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin-right: 5px;

    &:hover {
      opacity: 0.7;
    }
  }

  .tag-active {
    color: $PRIMARY_COLOR;
  }

  .list-tag {
    overflow-x: scroll;
    max-width: 100%;
  }

  .label {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 10px;
  }
}


.filter {
  .tag {
    padding: 6px 14px;
    border-radius: 31px;
    background: #F7F7F7;
    white-space: nowrap;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  .tag-active {
    color: $PRIMARY_COLOR;
  }

  .list-tag {
    overflow-x: scroll;
    max-width: 100%;
  }
}
