$PRIMARY_COLOR: #FD7E14;

.drawer {
  .title {
    color: white;
  }
}

.content {
  background-color: white;
}

.login-img {
  width: 100%;
  object-fit: contain;
}

.login-form {
  padding: 40px;

  .ant-form-item-explain-error div {
    text-align: center;
  }

  .ant-form {
    width: 100%;

    .ant-input-affix-wrapper {
      border: none;
      border-bottom: 1px solid #d9d9d9;

      .ant-input-prefix svg {
        fill: $PRIMARY_COLOR;
      }

      input {
        padding-left: 3px;
      }
    }
  }

  .login-label {
    //font-family: Sarabun;
    //font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #3D3D3D;
    text-transform: uppercase;
    margin-bottom: 45px;
  }

  .btn-login {
    background-color: $PRIMARY_COLOR;
    border: none;
    border-radius: 20px;
  }

  .desc-login{
    align-self: flex-end;
    text-align: center;
  }
}
