$PRIMARY_COLOR: #FD7E14;

.card {
  display: flex;
  flex-direction: column;
  width: 100%;

  .main-img {
    opacity: 0.6;
    border-radius: 5px;
    width: 100%;
  }

  .play-img {
    position: absolute;
    top: 0;
    left: 0;

    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
    }

    img:hover {
      opacity: 0.7;
    }
  }

  .thumbnail-video {
    position: relative;
  }

  .name {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  }

  .time {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #818181;
  }

  .desc {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
  }

  .card-item {
    position: relative;

    .main-img {
      opacity: 0.5;
      border-radius: 5px;
      width: 100%;
    }

    .play-img {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 5px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.15);
      }

      img:hover {
        opacity: 0.7;
      }
    }
  }

  .desc-item {
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    margin-top: 4px;
  }

  .desc,
  .desc-item {
    &:hover {
      color: $PRIMARY_COLOR;
    }

    &:focus {
      color: $PRIMARY_COLOR;
    }

    &:active {
      color: $PRIMARY_COLOR;
      opacity: 0.7;
    }
  }
}
