$PRIMARY_COLOR: #FD7E14;

.input-otp {
  font-size: 13px;
  padding: 10px;
  border-color: $PRIMARY_COLOR;
  border-radius: 5px;
  text-align: center;
}


.otp-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  width: 100%;
}

.otp-label {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.btn {
  border-radius: 20px;
  border: none;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  height: 28px;
  color: white;
}

.title {
  font-size: 13px;
  line-height: 18px;
  color: #181725;
  font-weight: 600;
}

.subscriber {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1), height 0s ease 0.3s, width 0s ease 0.3s;
  animation: subFadeIn 0.2s ease-in;

  .content-subscriber {
    height: 340px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(330px);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(330px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .content--close {
    animation: fadeOut 0.2s ease-in-out;
    transform: translateY(330px);
  }

  @keyframes subFadeOut {
    0% {
      display: flex;
    }
    100% {
      visibility: hidden;
    }
  }

  &.subscriber--close {
    animation: subFadeOut 0.4s ease-in-out;
    visibility: hidden;
    display: none;
  }

  .title-header {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1px;
  }

  .btn {
    background-color: $PRIMARY_COLOR;
    border-radius: 45px;
    align-self: center;

    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  .phone {
    background: #FFFFFF;
    border: 1px solid $PRIMARY_COLOR;
    box-sizing: border-box;
    border-radius: 45px;
    & .ant-input {
      color: $PRIMARY_COLOR;
    }

    &:hover,
    &:focus
    &:active {
      border-color: $PRIMARY_COLOR;
      box-shadow: 0 0 0 2px rgba(253, 126, 20, 0.2)
    }
  }

  .checkbox {
    margin-top: 0.5rem !important;
    padding-left: 10px;
    padding-right: 10px;
  }

  .text-info {
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.1px;
  }

  .btn-submit {
    flex: 1;
  }

}
