$PRIMARY_COLOR: #FD7E14;

.header {
  width: 100%;

  .container {
    width: 100%;
    background-color: $PRIMARY_COLOR;
    padding: 10px 12px 8px 12px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
  }

  .icon {
    color: white;
    height: 100%;
    width: 80px;
    //overflow: hidden;
  }

  .title {
    color: white;
    font-weight: 600;
    font-size: 16px;
  }

  .language {
    height: 17px;
  }

  .user {
    height: 22px;
  }

  .click {
    &:hover {
      opacity: 0.7;
    }
  }

  .flags {
    width: 25px;
    height: 22px;
    margin-right: 8px;
    padding: 2px 4px 2px 4px;
    object-fit: contain;
    border-radius: 2px;
  }
}
